.people-slider {
    min-height: 100vh;
    background: $gray;
    background-image: url("../images/slider-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    height: 100vh;
    z-index: 1000;
    transition: opacity .4s 0s, transform 0s .4s;
    &.open {
        transform: scale(1);
        opacity: 1;
        transition: opacity .4s 0s, transform 0s;
    }
    &__wrapper {
        border: dashed 5px rgba(255, 255, 255, .25);
        display: inline-block;
        padding: 30px 60px;
        @include mobile {
            padding: 20px 40px;
        }
    }
    &__title {
        font-size: 3.4vw;
        color: $white;
        font-weight: 300;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
    }
    &__name {
        font-size: 5.85vw;
        color: $white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
    }
    &__close {
        @include mobile {
            width: 30px;
            height: 30px;
            top: 2rem;
            right: 2rem;
        }
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        border: none;
        top: 3rem;
        right: 3rem;
        z-index: 1000;
        background: transparent;
        background-image: url("../images/close.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform .2s ease;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
    &__prev {
        @include mobile {
            width: 2rem;
            height: 2rem;
            left: 2rem;
        }
        position: absolute;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 4rem;
        background: $white;
        z-index: 100;
        z-index: 1000;
        border: none;
        background: transparent;
        background-image: url("../images/left.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        transition: transform .2s ease;
        &:hover,
        &:focus {
            transform: translateY(-50%) scale(1.2);
        }
    }
    &__next {
        @include mobile {
            width: 2rem;
            height: 2rem;
            right: 2rem;
        }
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 4rem;
        background: $white;
        z-index: 100;
        background: transparent;
        border: none;
        background-image: url("../images/right.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: visible;
        transition: transform .2s ease;
        &:hover,
        &:focus {
            transform: translateY(-50%) scale(1.2);
        }
    }
}