.people {
    background-image: url("../images/bg.png");
    background-position: center center;
    background-repeat: repeat;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 {
        color: $secondary-color;
        font-weight: 600;
    }
    &__grid {
        // display: grid;
        // grid-column-gap: 50px;
        // grid-row-gap: 50px;
        // grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        // max-width: 1280px;
        margin: 0 auto;
        // display: inline-flex;
        // flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1280px;
    }
    &__item {}
    &__mail {
        height: 40px;
        width: 40px;
        background: $secondary-color;
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 10;
        border-radius: 50%;
        background-image: url("../images/mail.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px 12px;
        transition: ease .4s background-color, box-shadow .4s;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(72, 195, 220, 1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(72, 195, 220, 1);
        box-shadow: 0px 0px 0px 0px rgba(72, 195, 220, 1);
        &:focus,
        &:hover {
            background-color: lighten($secondary-color, 10%);
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(128, 69, 255, 1);
            -moz-box-shadow: 0px 0px 15px 0px rgba(128, 69, 255, 1);
            box-shadow: 0px 0px 15px 0px rgba(128, 69, 255, 1)
        }
    }
    &__avatar-wrapper {
        position: relative;
    }
    &__avatar {
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(69, 46, 118, 0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(69, 46, 118, 0);
        box-shadow: 0px 0px 0px 0px rgba(69, 46, 118, 0);
        transition: box-shadow .2s ease, transform .2s ease;
        cursor: pointer;
        &::before {
            display: block;
            content: "";
            position: relative;
            padding-bottom: 100%;
        }
        &:hover {
            transform: scale(1.05);
            -webkit-box-shadow: 0px 10px 22px 0px rgba(128, 128, 128, 1);
            -moz-box-shadow: 0px 10px 22px 0px rgba(128, 128, 128, 1);
            box-shadow: 0px 10px 22px 0px rgba(128, 128, 128, 1);
        }
        margin-bottom: 2rem;
    }
    // &__overlay {
    //     background: $primary-color;
    //     opacity: .75;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    // }
    &__name {
        color: $secondary-color;
        font-weight: 400;
    }
    &__title {
        color: $primary-color;
        font-weight: 400;
    }
    &__location {
        color: $gray;
        font-weight: 400;
    }
}